In [1]:
import pandas as pd
import geopandas as gpd
import numpy as np
from fuzzywuzzy import fuzz
import math
from shapely.geometry import Point
from geopy.distance import distance

## Step 1: Read-In Data

In [2]:
fileString_vz = "C:/Users/david/OneDrive/02_Uni/02_Master/05_Masterarbeit/03_MATSim/01_prep/00_QGIS/vvs_haltestellenverzeichnis_v2.csv"
fileString_gtfs = "C:/Users/david/OneDrive/02_Uni/02_Master/05_Masterarbeit/03_MATSim/01_prep/00_QGIS/vvs_stops.csv"
fileString_vvs_area_geom = "C:/Users/david/OneDrive/02_Uni/02_Master/05_Masterarbeit/03_MATSim/01_prep/00_QGIS/vvs_area_geom.shp"

In [3]:
df_vz = pd.read_csv(fileString_vz)

In [4]:
df_vz.head(3)

          ort_1 ort_2       haltestelle    nr tarifzone
0  Affalterbach   NaN           Birkhau  3600         3
1  Affalterbach   NaN     Klingenstraße  3601         3
2  Affalterbach   NaN  Marbacher Straße  3599         3

In [5]:
df_vz.tail(3)

          ort_1 ort_2                 haltestelle     nr tarifzone
3802  Wüstenrot   NaN                 Stangenbach  32449         6
3803  Wüstenrot   NaN  Stangenbach Haus Waldesruh  32453         6
3804  Wüstenrot   NaN    Vorderbüchelberg Abzweig  32320         6

In [6]:
df_gtfs = pd.read_csv(fileString_gtfs)

In [7]:
gdf_gtfs = gpd.GeoDataFrame(df_gtfs,
                            geometry = gpd.points_from_xy(df_gtfs.stop_lon, df_gtfs.stop_lat),
                           )
gdf_gtfs = gdf_gtfs.set_crs(epsg=4326)

In [8]:
gdf_gtfs.head(3)

            stop_id  stop_name   stop_lat  stop_lon                  geometry
0  de:08111:100:1:1  Stammheim  48.850046  9.156174  POINT (9.15617 48.85005)
1  de:08111:100:2:3  Stammheim  48.849443  9.156022  POINT (9.15602 48.84944)
2  de:08111:100:2:4  Stammheim  48.850217  9.156093  POINT (9.15609 48.85022)

In [9]:
gdf_gtfs.tail(3)

,stop_id,stop_name,stop_lat,stop_lon,geometry
8501,gen:8425:34005:2:3,Beimerstetten,48.481900,9.977156,POINT (9.97716 48.48190)
8502,gen:8425:34186:0:3,Lonsee Hauptstr.,48.543721,9.917794,POINT (9.91779 48.54372)
8503,gen:8425:34187:0:3,Urspring Abzw. Lonsee,48.546823,9.893904,POINT (9.89390 48.54682)

In [10]:
gdf_vvs_area = gpd.read_file(fileString_vvs_area_geom)

In [11]:
gdf_vvs_area.head(3)

,ags,gen,bez,geometry
0,08416036,Rottenburg am Neckar,Stadt,"POLYGON ((8.83443 48.48249, 8.80690 48.47901, ..."
1,08111000,Stuttgart,Stadt,"POLYGON ((9.22518 48.86601, 9.22500 48.86485, ..."
2,08115003,Böblingen,Stadt,"POLYGON ((9.05337 48.70321, 9.05941 48.70140, ..."

## Step 2: Filter gtfs data

In [12]:
gdf_gtfs.shape[0]

8504

In [13]:
gdf = gpd.sjoin(gdf_gtfs, gdf_vvs_area, how="left", op='intersects')

In [14]:
gdf.dropna(subset=['ags'], inplace=True)

In [15]:
gdf['stop_id'] = gdf['stop_id'].apply(lambda x: x.replace('gen:8', 'de:08'))

In [16]:
gdf.shape[0]

7673

In [17]:
gdf['ags_und_stop_name'] = gdf['ags'] + " " + gdf['stop_name']

In [18]:
gdf.head(3)

,stop_id,stop_name,stop_lat,stop_lon,geometry,index_right,ags,gen,bez,ags_und_stop_name
0,de:08111:100:1:1,Stammheim,48.850046,9.156174,POINT (9.15617 48.85005),1.0,08111000,Stuttgart,Stadt,08111000 Stammheim
1,de:08111:100:2:3,Stammheim,48.849443,9.156022,POINT (9.15602 48.84944),1.0,08111000,Stuttgart,Stadt,08111000 Stammheim
2,de:08111:100:2:4,Stammheim,48.850217,9.156093,POINT (9.15609 48.85022),1.0,08111000,Stuttgart,Stadt,08111000 Stammheim

## Step 3: Do some some replacements

Manual replacements because Levenshtein Distance would bring missmatches...

In [19]:
to_replace = {'Jux': 'Spiegelberg',
              'Neuhausen (F)': 'Neuhausen auf den Fildern',
              'Gingen (F)': 'Gingen an der Fils', 
              'Rottenburg (N)': 'Rottenburg am Neckar', 
              'Dettingen (T)': 'Dettingen unter Teck',
              'Benningen (N)': 'Benningen am Neckar'
             }

In [20]:
df_vz.replace(to_replace, inplace=True)

## Step 4: Match communities first

In [21]:
def lookUp(lookUpValue, df, lookUpcolumn, valueColumn):
    
    lst = df[df[lookUpcolumn] == lookUpValue][valueColumn].tolist()
    if len(lst)>0:
        return lst[0]
    else:
        return np.nan

In [22]:
def getLevenshteinDistance(string, key):
    
    return fuzz.ratio(string, key)
    

def findBestMatching(string, keys):
    
    distances = dict((key, getLevenshteinDistance(string, key)) for key in keys)
    distances = sorted((v,k) for k,v in distances.items())
    return distances[-1][1], distances[-1][0]

In [23]:
df_vz['gen_match'], df_vz['gen_sim'] = zip(*df_vz.apply(lambda x: findBestMatching(x['ort_1'], gdf_vvs_area['gen'].values), axis=1))
df_vz['ags_match'] = df_vz['gen_match'].apply(lambda x: lookUp(x, gdf_vvs_area, "gen", "ags"))
df_vz.head(3)

,ort_1,ort_2,haltestelle,nr,tarifzone,gen_match,gen_sim,ags_match
0,Affalterbach,NaN,Birkhau,3600,3,Affalterbach,100,08118001
1,Affalterbach,NaN,Klingenstraße,3601,3,Affalterbach,100,08118001
2,Affalterbach,NaN,Marbacher Straße,3599,3,Affalterbach,100,08118001

In [24]:
df_vz[df_vz['ags_match'].isna()]

Empty DataFrame
Columns: [ort_1, ort_2, haltestelle, nr, tarifzone, gen_match, gen_sim, ags_match]
Index: []

In [25]:
def concatColumns(x):
    
    if (pd.isna(x.ort_2)):   
        return str(x.ags_match) + " " + str(x.haltestelle)
    else:
        return str(x.ags_match) + " " + str(x.ort_2) + " " + str(x.haltestelle)

In [26]:
df_vz['ags_ort_und_haltestelle'] = df_vz.apply(lambda x: concatColumns(x), axis=1)

In [27]:
df_vz.head(3)

,ort_1,ort_2,haltestelle,nr,tarifzone,gen_match,gen_sim,ags_match,ags_ort_und_haltestelle
0,Affalterbach,NaN,Birkhau,3600,3,Affalterbach,100,08118001,08118001 Birkhau
1,Affalterbach,NaN,Klingenstraße,3601,3,Affalterbach,100,08118001,08118001 Klingenstraße
2,Affalterbach,NaN,Marbacher Straße,3599,3,Affalterbach,100,08118001,08118001 Marbacher Straße

## Step 4: Match full stop names afterwards

In [28]:
df_vz.head(3)

,ort_1,ort_2,haltestelle,nr,tarifzone,gen_match,gen_sim,ags_match,ags_ort_und_haltestelle
0,Affalterbach,NaN,Birkhau,3600,3,Affalterbach,100,08118001,08118001 Birkhau
1,Affalterbach,NaN,Klingenstraße,3601,3,Affalterbach,100,08118001,08118001 Klingenstraße
2,Affalterbach,NaN,Marbacher Straße,3599,3,Affalterbach,100,08118001,08118001 Marbacher Straße

In [29]:
gdf['best_match'], gdf['similiarity'] = zip(*gdf.apply(lambda x: findBestMatching(x['ags_und_stop_name'], df_vz['ags_ort_und_haltestelle'].values), axis=1))

In [30]:
gdf['zone'] = gdf['best_match'].apply(lambda x: lookUp(x, df_vz, "ags_ort_und_haltestelle", "tarifzone"))

In [31]:
gdf.head(3)

,stop_id,stop_name,stop_lat,stop_lon,geometry,index_right,ags,gen,bez,ags_und_stop_name,best_match,similiarity,zone
0,de:08111:100:1:1,Stammheim,48.850046,9.156174,POINT (9.15617 48.85005),1.0,08111000,Stuttgart,Stadt,08111000 Stammheim,08111000 Stammheim,100,1/2
1,de:08111:100:2:3,Stammheim,48.849443,9.156022,POINT (9.15602 48.84944),1.0,08111000,Stuttgart,Stadt,08111000 Stammheim,08111000 Stammheim,100,1/2
2,de:08111:100:2:4,Stammheim,48.850217,9.156093,POINT (9.15609 48.85022),1.0,08111000,Stuttgart,Stadt,08111000 Stammheim,08111000 Stammheim,100,1/2

## Step 5: Remove outliers depending on similiarity gap

In [32]:
gdf.shape[0]

7673

In [33]:
gdf_opt = gdf[gdf['similiarity']>75]

In [34]:
gdf_opt.shape[0]

6472

## Step 6: Remove outliers depending on distance to Stuttgart Hbf.

In [35]:
stg_hbf = (9.182316, 48.783332)
stg_hbf

(9.182316, 48.783332)

In [36]:
gdf_opt['dist_stg_hbf'] = gdf_opt.apply(lambda x: distance(stg_hbf, (x['stop_lon'], x['stop_lat'])).km, axis=1)

C:\Users\david\.conda\envs\mynewenv\lib\site-packages\geopandas\geodataframe.py:831: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super(GeoDataFrame, self).__setitem__(key, value)

In [40]:
def find_outlier_gap(column):
    
    q1 = np.percentile(column, 25)
    q3 = np.percentile(column, 75)
    iqr = sum((column<q1) | (column>q3))
    return q3 - iqr * 1.5, q3 + iqr * 1.5

In [43]:
gdf_opt.groupby('zone').agg({'dist_stg_hbf': find_outlier_gap})

TypeError: _percentile_dispatcher() missing 1 required positional argument: 'q'

In [ ]:
gdf.to_csv("C:/Users/david/OneDrive/02_Uni/02_Master/05_Masterarbeit/03_MATSim/01_prep/00_QGIS/export.csv")