In [1]:
import xml.etree.ElementTree as ET
import pandas as pd

In [2]:
XML_PATH = "Z:/wedekind/stuttgart-v1.0/04_stuttgart-v1.0_calibration/output/output-calib_01_01/calib_01_01.output_config.xml"

In [3]:
tree = ET.parse(XML_PATH)

In [4]:
root = tree.getroot()

In [5]:
df_modeParameters = list()

for modeParameters in root.findall("./module[@name='planCalcScore']/parameterset[@type='scoringParameters']/parameterset[@type='modeParams']"): 
    row = dict()
    for node in modeParameters:
        row[node.attrib.get("name")] = node.attrib.get("value")
    df_modeParameters.append(row)

In [6]:
df_modeParameters = pd.DataFrame(df_modeParameters)
df_modeParameters = df_modeParameters[['mode','constant','dailyMonetaryConstant','dailyUtilityConstant','marginalUtilityOfDistance_util_m','marginalUtilityOfTraveling_util_hr','monetaryDistanceRate']]

In [7]:
df_modeParameters

,mode,constant,dailyMonetaryConstant,dailyUtilityConstant,marginalUtilityOfDistance_util_m,marginalUtilityOfTraveling_util_hr,monetaryDistanceRate
0,car,-0.0,-5.3,0.0,0.0,0.0,-0.0
1,ride,-0.0,-0.0,0.0,0.0,-0.0,-0.0
2,pt,-0.0,-0.0,0.0,0.0,-0.0,0.0
3,bike,0.0,-0.5,0.0,0.0,-0.0,-0.0
4,walk,0.0,-0.0,0.0,0.0,-0.0,-0.0

In [6]:
test = pd.DataFrame(events)

In [4]:
DATA_METADATA = {
        'title': 'Test',
        'description': 'Test',
        'source_name': 'Test',
        'source_url': 'Test',
        'source_year': 'Test',
        'source_download_date': 'Test',
    }

In [5]:
table_name = 'test'
table_schema = 'general'

In [6]:
db_parameter = {
    'host': 'localhost',
    'database': 'stuttgart_1pct_calibration',
    'user': 'postgres',
    'password': 'dW49t8@0DPA2',
    'port': 5432
}

In [7]:
"""with pg.connect(**db_parameter) as con:
    sql = f'''DROP TABLE IF EXISTS {table_schema}.{table_name} CASCADE;'''
    cursor = con.cursor()
    cursor.execute(sql)
    con.commit()"""

"with pg.connect(**db_parameter) as con:\n    sql = f'''DROP TABLE IF EXISTS {table_schema}.{table_name} CASCADE;'''\n    cursor = con.cursor()\n    cursor.execute(sql)\n    con.commit()"

In [8]:
drop_table_if_exists(db_parameter, table_name, table_schema)

load_df_to_database(
    df=df,
    db_parameter=db_parameter,
    schema=table_schema,
    table_name=table_name,
    meta_data=DATA_METADATA)

2020-11-20 14:08:33,951 - INFO: Drop table if exists...
2020-11-20 14:08:33,987 - INFO: Import data to database...
2020-11-20 14:08:33,987 - INFO: Checking meta data inputs
2020-11-20 14:08:33,988 - INFO: Uploading to database
2020-11-20 14:08:34,032 - INFO: Table metadata:
        COMMENT ON TABLE general.test IS
        '
        ####################
        # Meta information #
        ####################
            title: Test,
            description: Test,
            source_name: Test,
            source_url: Test,
            source_year: Test,
            source_download_date: Test'

2020-11-20 14:08:34,033 - INFO: Writing metadata to table comments
2020-11-20 14:08:34,063 - INFO: Table import successful!